.a{
	color: grey;
	padding-left: 70px;
	padding-top: 85px;
}
.l{
	color: white;
	padding-left: 159px;	
	margin-top: -40px;
}
.b{
	padding-left:1050px;
	text-align: center;
	text-decoration: none;
   font-family:monospace;
   font-size: 24px;
   margin-top:-39px;
}
.c{
	height: 550px;
	width: 550px;

	padding-left: 150px;
	padding-top: 75px;
}
.d{
	color: white;
	font-family: monospace;
	font-size: 20px;
	padding-left: 750px;
	margin-top: -250px;
}

.h{
	color: grey;
	font-family: Sans-Serif;
	padding-top: 250px;
	padding-left: 40px;
}
.z{
	color: white;
	padding-left: 475px;
	margin-top: -250px;
	font-size: 46px;
	font-family: cursive;
}
.x{
	color: seagreen;
	padding-left: 715px;
	margin-top: -110px;
	font-family: cursive;
	font-size: 46px;
}
.aa{
	padding-left:1460px;
	margin-top: -25px;
}
.bb{
	padding-left:1460px;
	margin-top: 18px;	
}